@import '../global';

.card {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3vw;
  border: none;
  @media (max-width: 1380px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 1090px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
